@import "../../../styles.scss";

.header {
    display: flex;
    color: $font-color;
    justify-content: right;
    gap: 10px;
    margin-right: 20px;
    margin-top: 10px;
    flex-direction:row;
    flex-wrap:wrap;
}

a {
  color: $font-color;
  text-decoration: none;
  :hover {
    color: $secondary-color;
  }
}
nb-select{
  margin-top:-5px;
}
