<div class="login-section">
  <h2>{{ (isLogin ? "sign_in" : "sign_up") | translate}}</h2>
  <input type="email" class="login-section__credentials" placeholder="email" name="email" [(ngModel)]="email" />
  <input type="password" class="login-section__credentials" placeholder="{{'password'|translate}}" name="password" [(ngModel)]="password" />
  <input type="submit" class="login-section__button" (click)="isLogin ? login() : register()" placeholder="{{'send'|translate}}" />
  <p>
    {{ (isLogin ? "account_doesnt_exists"
        : "account_exists") | translate}}

    <span (click)="switch()">{{ "here" | translate }}</span>
  </p>
</div>