@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Poppins&display=swap");
$primary-color: #bb86fc;
$secondary-color: #03dac5;
$font-color: #fff;
$font-color-secondary: #121212;
$card-color: #292b3e;
$font: "Poppins", sans-serif;
* {
  font-family: $font!important;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #151726;
}

nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding:0;
}
  nb-layout-header nav {
    
    justify-content: flex-end!important;
    
}
nb-menu .menu-item a:hover {
  color: $primary-color;
}
nb-menu .menu-item a.active{
   color: $primary-color;
}
a {
  color:$primary-color;
}

$breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


  

